.Tickets-big-container {
  margin-top: 30px;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  &-container {
    width: $container-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }

  &-title {
    color: $text-color;
    font-family: $font-family;
    font-size: 5vw;
    font-style: normal;
    font-weight: $font-weight-bold;
    line-height: $line-height-normal;
    margin: 0;
  }

  &-description {
    margin: 0;
    color: $theme-color;
    font-family: $font-family;
    font-size: 12px;
    font-style: normal;
    font-weight: $font-weight-bold;
    line-height: $line-height-normal;
  }
}