$font-family: 'Montserrat', sans-serif;
$width-90-percent: 90%;
$font-size-18: 18px;
$font-weight-bold: bold;
$line-height-normal: normal;
$text-color: #000;
$text-color-light: #D4D4D4;
$text-color-selected: #050505;
$theme-color: #FF473A;
$border-color: #F4F5F2;
$transform-duration: 0.3s;
$margin-bottom: 8px;
$slidingmenu-border-color: #FCFCFC;
$slidingmenu-text-color: #FFF;
$button-text-color: #FFF;
$overflow-property: hidden;
$container-width: 90%;